@import "tailwindcss";

--var{
  --primary-color: rgba(255, 0, 0, 0.782);
  --text-primary-color: rgba(255, 0, 0, 0.468);
  --background-color: #F1EFEC;
  --white: #F7F7F7; 
  --black: #09122C; 
  
}
:root {
  --primary-color: #D84040;;
  --text-primary-color: #123458;
  --secondary-color: #F1EFE;
  --background-color: #F1EFEC;
  --white: #F7F7F7; 
  --black: #09122C; 
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--text-primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-background {
  background-color: var(--background-color);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-background {
  color: var(--background-color);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}


body {
  background: var(--background-color);
  overflow-x: hidden;
  margin: 0;
}

.round-div {
    width: 100%; /* Adjust size as needed */
    height: 100%; /* Same as width to maintain round shape */
    border-radius: 50%;
   /* Example background color
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold; */
  }
  
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

